/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
#root {
  position: relative;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

nav {
  height: 100vh;
  width: 15vw;
  line-height: 5vh;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 10vh;
}

ul {
  list-style: none;
}

.signup {
  position: absolute;
  height: 50vh;
  width: 50vh;
  top: 25vh;
  left: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Add gap between divs */
}

.signup div,
.signup button {
  width: 100%; /* Make sure divs and button take full width */
  padding: 10px; /* Add padding for spacing within divs */
  text-align: center; /* Center text content */
}

.portfolioList {
  position: absolute;
  left: 20vw;
  top: 15vh;
  display: flex;
  border: solid black 1px;
  height: 70vh;
  width: 60vw;
  justify-content: center;
  align-items: center;
}
.portfolioList ul {
  width: 100%;
}
.portfolioList ul li {
  text-align: center;
  border: solid black 1px;
  width: 100%;
}
.aProperty {

  display: flex;
  position: absolute;
  left: 20vw;
  top: 15vh;
  display: flex;
  border: solid black 1px;
  height: 70vh;
  width: 60vw;

}

.signin {
  position: absolute;
  top: 35vh;
  left: 35vw;
}

.add-property {
  position: absolute;
  top: 35vh;
  left: 35vw;
}

.pwdivs {
  display: flex;
}